First Game
My project/.vs
My project/Library
My project/Logs
My project/obj
My project/Packages
My project/ProjectSettings
My project/UserSettings
My project/Assets/Resources/Art
My project/Assets/Resources/Prefabs
My project/Assets/Resources/Sounds
My project/Assets/Resources/Textures
My project/Assets/Scenes
My project/.vsconfig
My project/Assembly-CSharp.csproj
My project/My project.sln
My project/Assets/Unity UI Samples
My project/Assets/GreatswordofFrozenNight
My project/Assets/Scripts/.vs
My project/Assets/Animations
My project/Temp

*.meta