My project/.vs
My project/Library
My project/Logs
My project/obj
My project/Packages
My project/ProjectSettings
My project/UserSettings
My project/Assets/Resources
My project/Assets/Scenes
First Game
My project/.vsconfig
My project/Assembly-CSharp.csproj
My project/My project.sln
